<%= simple_form_for(@article, html: {multipart: true, class: "form-horizontal"}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <%= f.input :title, input_html: { class: 'span12', }  %>
  <%= f.input :body, input_html: { class: 'span12', }  %>
  <%= f.input :tag_list %>
  <p>
    <% if @article.image.exists? %>
      <%= image_tag @article.image.url %>
    <% end %>
    <%= f.input :image %>
  </p>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
  <!--<div class="form-actions">
    <%= f.button :submit %>
  </div>-->
<% end %>