<h1><%= @article.title %></h1>
<!--needs fixed to add the 'th' on days-->
<em><%= @article.created_at.strftime("%A, %B %-d, %Y") %></em>
<hr />
<div>
	<p>
	<% if @article.image.exists? %>
      <%= image_tag @article.image.url %>
    <% end %>
	</p>
</div>

<div>
	 <%= markdown @article.body %>
</div>
<br>
<div>
	<ul>
		<% if logged_in? %>
			<%= link_to '<< Back to Articles List', articles_path, :class => "admin" %> | 
			<%= link_to 'Delete', article_path(@article), method: :delete, confirm: "Delete the Article?", :class => "admin" %> | 
			<%= link_to 'Edit', edit_article_path(@article), :class => "admin" %>
		<% end %>
	</ul>
</div>
<div>
	<h4>Comments (<%= @article.comments.size %>)</h4>
	<%= render partial: 'articles/comment', collection: @article.comments %>
</div>
<div><%= render partial: 'comments/form' %></div>



