<h1><%= @article.title %></h1>

  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>


<hr />

<p>
	<% if @article.image.exists? %>
      <%= image_tag @article.image.url %>
    <% end %>
</p>
<div>
	 <%= @article.body%>
</div>



<div>
	<ul>
		<% if logged_in? %>
			<%= link_to '<< Back to Articles List', articles_path %> | 
			<%= link_to 'Delete', article_path(@article), method: :delete, confirm: "Delete the Article?" %> | 
			<%= link_to 'Edit', edit_article_path(@article) %>
		<% end %>
	</ul>
</div>

<div>
	<h4>Comments (<%= @article.comments.size %>)</h4>
	<%= render partial: 'articles/comment', collection: @article.comments %>
</div>

<div><%= render partial: 'comments/form' %></div>



