<div class="span4">
  <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">About Me</li>
          <em>This is some example text for the About me Section. I am just posting in some random text to get the layout done.</em>
              
        <li class="nav-header">Pages</li>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Blog", articles_path %></li>
        <li><%= link_to "Portfolio", portfolio_path %></li>
        <li><%= link_to "Contact", messages_path %></li>
        <li class="nav-header">Recent Posts</li>
        <% recent_articles.each do |article| %>
          <li><%= link_to article.title, article_path(article) %></li>
        <% end %>
      </ul>
  </div><!--/.well -->
</div><!--/span-->