<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>System Admin & Software Developer - Jason Shaffer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<%= render 'layouts/navbar' %>

	<!--sidebar-->
	<div class="container-fluid">
      <div class="row-fluid">
        <!--sidebar-->
        <%= render 'layouts/sidebar' %>
        <!--articles-->
        <div class="span8">
          <%= yield %>
        </div><!--/span-->           
      </div><!--/row-->
  </div><!--/container-->
  <hr>
  <h6>
    <% if logged_in? %>
      <%= "Logged in as #{current_user.username}" %>
    <% end %>
  </h6>
</body>
</html>
